*{
      margin: 0;
      padding: 0;
}
body{
      text-align: center;
      height: 90vh;
      background:url("images/bg.jpg") center ;
}

.container h2 img{
      width: 340px;
}
.container{
      margin: 3rem;
      display: grid;
      place-items: center;
}
.container .row .card .card-body{
      display: flex;
      flex-direction: column;
      align-items: center;
} 
.container .input-group{
      width: 30rem;
      box-shadow: 5px 5px 15px black;
}
.container .input-group img{
      width: 20px;
      cursor: pointer;
}


.container2{
      text-align: center;
      border-radius: 23px;
      box-shadow: 2px 2px 50px black;
      width: 50rem;
      margin-top: 2.9rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform-style: preserve-3d;
}

@media (max-width:999px){
      .container2{
            width: 40rem;
      }
      .container2 .row{
           flex-direction: column;
           width: 30rem;
      }
}
@media (max-width:775px){
      .container2{
            width: 30rem;
      }
      .container2 .row{
           flex-direction: column;
           width: 20rem;
      }
      .container2 .row .col{
            width: 20rem;
      }
      
}
@media (max-width:510px){
      .container2{
            width: 20rem;
      }
      .container2 .row{
           flex-direction: column;
           width: 10rem;
      }
      .container2 .row .col{
            width: 10rem;
      }
      .container .input-group{
            width: 20rem;
      } 
}

.container2 .city{
      transform: translateZ(60px);
}
.container2 .city img{
      filter: drop-shadow(10px 10px 10px black);
      width: 200px;
      padding: 5px;
}
.container2 .city h1{
      color: white;
      text-shadow: 2px 2px 5px black;
      display: flex;
      align-items: center;
      justify-content: center;
}


.container2 .row{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 30px;
      transform: translateZ(60px);
}
.container2 .row .col{
     
      padding: 5px;
      width: 15rem;
}
.container2 .row .card{
      box-shadow: 5px 5px 10px;
}


